twitterresponsebot
[{"id":"1f8a0182.a40d2e","type":"twitter in","z":"28e32ec1.25af82","twitter":"","tags":"stimulus checks","user":"false","name":"","inputs":0,"x":70,"y":560,"wires":[["468d9ea7.cbc8d8","26427b2a.ab538c"]]},{"id":"468d9ea7.cbc8d8","type":"debug","z":"28e32ec1.25af82","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":560,"wires":[]},{"id":"26427b2a.ab538c","type":"function","z":"28e32ec1.25af82","name":"Process Request","func":"var autoanswer=\"no\";\nvar archive=\"no\";\nvar lang=\"und\";\n\nif (typeof msg.tweet.retweeted_status == 'undefined')\n{\n\tif (typeof msg.tweet.entities.hashtags != 'undefined')\n\t{\n\t\tmsg.tweet.entities.hashtags.forEach(function(hashtag) {\n\t\t    if (hashtag['text'] == \"autoanswer\")\n\t\t    {\n\t\t    \tautoanswer = \"yes\";\n\t\t    }\n\t    if (hashtag['text'] == \"archive\")\n\t\t    {\n\t\t    \tarchive = \"yes\";\n\t\t    }\n\t\t});\n\t}\n    \n    if (typeof msg.tweet.lang != 'undefined')\n    {\n        lang=msg.tweet.lang;\n    }\n\t\n\tvar msg = {\n\t\tuser: msg.tweet.user.screen_name,\n\t\tanswer: autoanswer,\n\t\tarchive: archive,\n\t\tlang: lang,\n\t\ttweet: msg.tweet.text\n\t};\n\t\n\tvar twitarchive = { payload : {\n\t    TSTAMP: 'TIMESTAMP',\n\t    USERNAME: msg.user,\n\t    TWEET: msg.tweet }\n\t};\n\t\n\tif (archive == \"yes\")\n\t{\n\t    return [msg, twitarchive];\n\t}\n\telse\n\t{\n\t\treturn [msg, null];\n\t}\n}\n","outputs":"2","noerr":0,"x":250,"y":660,"wires":[["65c6f348.d3098c"],[]]},{"id":"587ae73b.5947d","type":"twitter out","z":"28e32ec1.25af82","twitter":"","name":"Reply","x":750,"y":560,"wires":[]},{"id":"65c6f348.d3098c","type":"function","z":"28e32ec1.25af82","name":"Process API Response","func":"//if (msg.answer == \"yes\")\n//{\n//\tvar messages = [\n//\t\t\"Hello again\",\n//\t\t\"sprichst du auch deutsch?\",\n//\t\t\"I did it\",\n//\t\t\"all save I guess\",\n//\t\t\"stored in DB2\",\n//\t\t\"may the archive hold\",\n//\t\t\"not sure what you mean\",\n//\t\t\"at least I am trying to make this interesting...\",\n//\t\t\"one of us is ...\",\n//\t\t\"yeah\"\n//\t];\n\t\n\tvar hashtag = [\n\t\t\"#Vetotheporkpackage\",\n\t];\n//\t\t\"#dashdb\",\n//\t\t\"#db2luw\",\n//\t\t\"#bluemix\",\n//\t\t\"#nodered\"\n//\t];\n    var message = \"Veto the Pork Package #Vetotheporkpackage Liberté, égalité, fraternité https://www.whitehouse.gov/contact/ \" ; \t\n//\tvar message = messages[Math.floor(Math.random() * messages.length)];\n//\tvar hashtag = hashtags[Math.floor(Math.random() * hashtags.length)];\n\t\n\n\tmsg.payload = \"@\" + msg.user + \" \" + message + \" \" + hashtag +\" [lang:\"+msg.lang+\"]\";\n\t\n\tfollowup_msg = {\n\t\tpayload: \"@\" + msg.user + \"p.s. Epstien didn't hang himself\"\n\t};\n\t\n\treturn [ msg, followup_msg ];\n//}\n// else\n// {\n//\tmsg.payload = \"@\" + msg.user + \" Ok\" +\" [lang:\"+msg.lang+\"]\";\n//\treturn [ msg, null ];\n//}\n","outputs":"2","noerr":0,"x":490,"y":680,"wires":[["84b2064a.899708"],["1e5ae55b.15742b"]]},{"id":"1e5ae55b.15742b","type":"delay","z":"28e32ec1.25af82","name":"Delay","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":760,"wires":[[]]},{"id":"84b2064a.899708","type":"debug","z":"28e32ec1.25af82","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":660,"wires":[]}]
